<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="/assets/css/fonts.css">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="/assets/css/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="/assets/css/milligram.css">

    <!-- Main.css -->
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- Alpine.js -->
    <script src="/assets/js/alpinejs-3.10.3.min.js" defer></script>

    <!-- Main.js -->
    <script src="/assets/js/main.js"></script>

    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/images/android-chrome-512x512.png">

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="white"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Media Library">
    <meta name="msapplication-TileImage" content="/assets/images/android-chrome-192x192.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">


</head>
<body x-data="app">