{{> header title="Media Library" }}

<div class="container hr-separated" style="padding-top: 30px">

	{{#if movies.length }}
		{{#each movies}}
			{{> media-item }}
		{{/each}}
		<div class="row hr">
			<button class="button button-small button-outline" @click="clean">Clean Library</button>
			<small>Removes garbage files and empty folders.</small>
		</div>
	{{else}}
		<h3>No Movies Found</h3>
		<p>Please make sure that Kodi App is still Up and Running in the background.</p>
		<p>Then pull page to refresh.</p>
	{{/if}}
</div>

{{> unknowns }}

{{> footer }}