<div class="row hr" x-ref="file" x-data="{ confirm: false }">
	<h2 style="margin-bottom: 0px">{{ label }}</h2>
    <small style="margin-bottom: 15px">
        {{originaltitle}} ({{year}}) &nbsp;•&nbsp; {{runtime}}<br><em>{{{genres}}}</em>
    </small>
    <p>{{ plot }}</p>
    <span>

	    <button class="button button-small" @click="play('{{file}}')">PLAY</button>

	    {{#if trailerid }}
	    	<a class="button button-outline button-small" href="https://youtube.com/watch?v={{trailerid}}" target="_blank">Trailer</a>
	    {{/if}}

	    {{#if imdbid }}
		    <a class="button button-outline button-small" href="https://m.imdb.com/title/{{imdbnumber}}/" target="_blank">{{#if rating}}⭐ &nbsp;{{rating}} ({{votes}}) {{else}}IMDB{{/if}}</a>
		{{else}}
		    <a class="button button-outline button-small" href="https://m.imdb.com/find?q={{urlencode label}}" target="_blank">IMDB</a>
	    {{/if}}

	    <button class="button button-outline button-small" @click="confirm = true">Delete</button>
	</span>

	<div style="display: none;" x-show="confirm">
		<hr>
		<h4>Delete &laquo;{{label}}&raquo;?</h4>
		<span>
		    <button class="button button-outline" @click="confirm = false">Cancel</button>
		    <button class="button" @click="deletePath('{{ file }}'); $refs.file.remove()">Delete</button>
		</span>
	</div>
</div>
