<div x-data='{ shown: false, unknowns: {{{stringify unknowns}}} }' x-show="unknowns.length" style="display: none">
    <div class="unknowns-button">
        <button class="button button-large" @click="shown = true">Unknown (<span x-text="unknowns.length"></span>)</button>
    </div>
    <div class="shader hidden" x-bind:class="{ 'hidden': ! shown }" @click="shown = false"></div>
    <div class="bottom-content translatedY hr-separated" x-bind:class="{ 'translatedY': ! shown }">
        <template x-for="(file, index) in unknowns" x-bind:key="file">
            <div class="hr" x-data="{target: file}">
                <input type="text" x-model="target">
                <button class="button button-outline" @click="delete(target); unknowns.splice(index, 1);">Delete</button>
                <button class="button button-outline" @click="rename(file, target); unknowns.splice(index, 1);">Rename</button>
            </div>
        </template>
        <p class="hr">
            To apply changes open Kodi App.
        </p>
    </div>
</div>